In [139]:
#Small business consulting project: 
    #profitability analysis
    #customer analysis
    #product analysis
    #shipping/order size analysis
    #Guaranteed 10% measurable profit gain or money back!
#script that parses P&L to transactions

#Step1: 

#client uploads 2 files: 
###1 transaction file
###1 P&L file

import pandas as pd
transactiondata=pd.read_csv('transaction.csv',delimiter='\t')
trans_df=pd.DataFrame(transactiondata)
pldata=pd.read_csv('pl.csv',delimiter='\t')
pl_df=pd.DataFrame(pldata)

In [137]:
#temp v2
def splitter2(transdf,pldf): 
#     account=input("What line of the P&L would you like to allocate?").upper()
#     logic=input("How would you like to allocate it?").upper()
    for account in accountslist:
        valuelist=[]
        totallist=[]
        totalrev=transdf['Revenue'].sum()
        for revval in transdf["Revenue"]:
            valuelist.append(pldf[pldf['Account']==str(account)]["Amount"].values[0]*(revval/totalrev))
            totallist.append(pldf[pldf['Account']==str(account)]["Amount"].values[0])
        transdf[str(account)+"AC"]=valuelist
    return transdf

In [138]:
splitter2(trans_df,pl_df)

,TID,PartNumber,PartName,CustomerNumber,CustomerName,Revenue,COGS,Quantity,DistributionAC,SellingRelatedAC,G&AAC
0,100,50,A,50,H,654,478,1,83307.856924,49984.714155,9.996943e+04
1,101,50,A,51,I,474,333,2,60379.088964,36227.453378,7.245491e+04
2,102,50,A,50,H,393,221,3,50061.143381,30036.686029,6.007337e+04
3,103,51,B,50,I,474,412,2,60379.088964,36227.453378,7.245491e+04
4,104,51,B,51,H,393,322,2,50061.143381,30036.686029,6.007337e+04
5,105,51,B,51,I,909,646,2,115790.278202,69474.166921,1.389483e+05
6,106,51,B,51,I,7575,3322,3,964918.985020,578951.391012,1.157903e+06
7,107,51,B,51,I,3737,322,3,476026.699276,285616.019566,5.712320e+05
8,108,51,B,51,I,299,131,1,38087.231224,22852.338734,4.570468e+04
9,109,52,C,52,J,473,322,1,60251.706919,36151.024152,7.230205e+04
10,110,52,C,52,J,474,433,1,60379.088964,36227.453378,7.245491e+04
11,111,52,C,52,J,888,555,1,113115.255274,67869.153164,1.357383e+05
12,112,53,D,53,K,171,111,2,21782.329563,13069.397738,2.613880e+04
13,113,54,E,54,L,272,222,2,34647.916030,20788.749618,4.157750e+04
14,114,55,F,55,M,393,343,3,50061.143381,30036.686029,6.007337e+04
15,115,56,G,56,N,282,222,3,35921.736472,21553.041883,4.310608e+04
16,116,56,G,56,N,474,112,4,60379.088964,36227.453378,7.245491e+04
17,117,56,G,56,N,595,322,2,75792.316315,45475.389789,9.095078e+04
18,118,56,G,56,N,696,323,1,88657.902782,53194.741669,1.063895e+05

In [149]:
pl_df.to_dict()

{'Account': {0: 'Revenue',
  1: 'COGS',
  2: 'GrossMargin',
  3: 'Distribution',
  4: 'SellingRelated',
  5: 'G&A',
  6: 'Profit'},
 'Amount': {0: 10000000.0,
  1: 5000000.0,
  2: 5000000.0,
  3: 2500000.0,
  4: 1500000.0,
  5: 3000000.0,
  6: -2000000.0},
 'FileName': {0: 'PL_test',
  1: 'PL_test',
  2: 'PL_test',
  3: 'PL_test',
  4: 'PL_test',
  5: 'PL_test',
  6: 'PL_test'}}

In [ ]:
#Analysis techniques
#Segment the business
#Identify patterns of profitability
#Product/customer analysis breakdown

In [ ]:
#Display
#Use Plotly to give an overview of the business

In [152]:
def splitter2(transdf,pldf): 
    accountslist=[]
    for i in pldf['Account']: 
        if i not in ("Revenue","COGS","GrossMargin","Profit"): 
            accountslist.append(i)
        else: 
            continue
    for account in accountslist:
        valuelist=[]
        totallist=[]
        totalrev=transdf['Revenue'].sum()
        for revval in transdf["Revenue"]:
            valuelist.append(pldf[pldf['Account']==str(account)]["Amount"].values[0]*(revval/totalrev))
            totallist.append(pldf[pldf['Account']==str(account)]["Amount"].values[0])
        transdf[str(account)+"AC"]=valuelist
    return transdf

In [153]:
splitter2(trans_df,pl_df)

AttributeError: 'dict' object has no attribute 'itterrows'